<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6d6f42b2-9fda-4f88-bc7a-3f675d96c542" name="PetTestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6d6f42b2-9fda-4f88-bc7a-3f675d96c542fileName">PetTestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
